.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

p {
  padding: 10px 20px;
  width: 100%;
  margin-right: 20px;
  background-color: #5f9b8d;
  color: #f5f6ee;
  font-size: 30px;
  word-break: break-all;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #5f9b8d;
  border-radius: 50%;
  opacity: 0;
}

.active::before {
  animation: buttonPress 0.2s forwards ease-in-out;
}

@media(max-width: 768px) {
  p {
    font-size: 24px;
  }
}

@media(max-width: 540px) {
  p {
    margin-right: 10px;
  }
}

@media(max-width: 470px) {
  img {
    width: 40px;
  }

  p {
    padding: 10px;
  }
}

@keyframes buttonPress {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
