<div class="configuration-item">
  <span>Characters Amount</span>
  <div class="configuration-item__input-wrapper">
    <input class="range" (input)="setCharactersAmountValue('range')" [value]="charactersAmount" [min]="MIN_CHARACTERS_AMOUNT" [max]="MAX_CHARACTERS_AMOUNT" step="1" #range type="range">
    <input #input [min]="MIN_CHARACTERS_AMOUNT" [max]="MAX_CHARACTERS_AMOUNT" (change)="setCharactersAmountValue('input')" type="number" [value]="charactersAmount">
  </div>
</div>
<div class="configuration-item">
  <span>Special Characters</span>
  <input (change)="setSepcialCharactersValue()" [checked]="specialCharacters" type="checkbox" min="1" max="20" step="1">
</div>
<div class="configuration-item">
  <span>Caps</span>
  <input (change)="setCapsValue()" [checked]="caps" type="checkbox">
</div>
<div class="configuration-item">
  <span>Capitalize</span>
  <input (change)="setCapitalizeValue()" [checked]="capitalize" type="checkbox">
</div>
<div class="configuration-item">
  <span>Numbers</span>
  <input (change)="setNumbersValue()" [checked]="numbers" type="checkbox">
</div>
<div class="configuration-item">
  <button (click)="changedConfiguration.emit()">Generate new</button>
</div>
